body {
    margin: 0;
    padding: 0p;
}
a {
    color: black;
}
.my-container {
    margin: 0;
    height: 100vh;
    overflow: auto;
}

.left-side-bar {
    float: left;
    width: 2.9%;
    background-color: white;
    height: 100vh;
    text-align: center;
    border-right: solid black 1px;
}

.sidebar-func span {
    margin: 20px 0;
    display: block;
    font-size: 25px;
    color: black;
}

.right-side-bar {
    float: right;
    width: 97%;
    background-color: white;
    height: 100vh;
}

.right-side-bar .content {
    padding: 20px 10px;
    text-align: center;
    margin: 0 auto;
    height: fit-content;
    font-family: 'Courier New', Courier, monospace;
    background-color: whitesmoke;
}

.right-side-bar .display {
    /* height: 80vh; */
}

.title {
    font-size: 40px;
    margin: 10px 0;
}

.subtitle {
    font-size: 20px;
    margin: 10px 0;
}

.tools {
    margin: 10px 0 10px 0;
}
.tools>span {
    margin: 10px 0;
}
.display {
    padding: 10px;
    margin: 20px 0;
    font-family: 'Courier New', Courier, monospace;
}
.display #paragraph-area {
    display: none;
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}
textarea {
    margin: 0 auto;
    border-radius: 10px;
    border: black solid 1px;
    width: 70%;
    padding: 7px;
    margin: 0 auto;
    resize: none;
}
#representation-layer {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    width: 70%;
    margin: 15px auto;
    border: grey solid 1px;
    padding: 5px;
    text-align: justify;
    border-radius: 7px;
}
#representation-layer span {
    margin-top: 30px;
    line-height: 3;
    border-radius: 7px;
    padding: 10px 5px;
    white-space: nowrap;
}
.result {
    font-size: 25px;
    width: 70%;
    margin: 15px auto;
}
.footer {
    /* position: relative; */
    /* bottom: 0; */
    background-color: black;
    color: white;
    text-align: center;
}
.raw-content {
    /* display: none; */
    width: 70%;
    margin: 0 auto;
}

.visual-content {
    width: 70%;
    margin: 0 auto;
    display: none;
}